memory_limit = -1
extension=pdo_pgsql.so
extension=bcmath.so
extension=zip.so
extension=gd.so
extension=pcntl.so
extension=intl.so
extension=xsl.so
extension=sodium.so
extension=redis.so
extension=amqp.so
zend_extension=xdebug.so
; Maximum allowed size for uploaded files.
upload_max_filesize = 100M
; Must be greater than or equal to upload_max_filesize
post_max_size = 100M
